$primary-color: #0084ff;
$second-color: #333333;
$poppins-font: "Poppins", sans-serif;
$roboto-font: "Roboto", sans-serif;
$hover-color: #00509a;
$create-new-color: #00da00;
$hover-create-new-color: #008e00;
$edit-color: #ffd000;
$hover-edit-color: #e9bf00;
$delete-color: #ff0000;
$hover-delete-color: #d60000;



