@import "_variables";
@import "_mixin";

.contact {
    min-height: 100vh;
    padding-top: 200px;
    font-family: $roboto-font;
    .contact-container {
        max-width: 1200px;
        margin: 0 auto;
        .contact-info {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .location,
            .phone-number,
            .email {
                i {
                    font-size: 30px;
                    background-color: $primary-color;
                    color: white;
                    padding: 10px;
                    margin-right: 15px;
                }
            }
            .location {
                @include flex(row, flex-start, flex-start);
                .location-info {
                    h3 {
                        margin-bottom: 15px;
                    }
                }
            }
            .phone-number {
                @include flex(row, center, flex-start);
                .phone-number-info {
                    h3 {
                        margin-bottom: 15px;
                    }
                }
            }
            .email {
                @include flex(row, flex-end, flex-start);
                .email-info {
                    h3 {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .contact-message {
            margin: 50px 0;
            .contact-form {
                @include flex(column, flex-start, center);
                max-width: 600px;
                margin: 0 auto;
                .name-container,
                .email-container,
                .phone-number-container,
                .location-container,
                .message-container {
                    width: 100%;
                    margin-bottom: 10px;
                    .name-input,
                    .email-input,
                    .phone-number-input,
                    .location-input,
                    .message-textarea {
                        width: 100%;
                        padding: 15px 10px;
                        background-color: rgb(241, 241, 241);
                        outline: none;
                        font-size: 15px;
                        border: none;
                        @include transition;
                        font-family: $roboto-font;
                        &::placeholder {
                            font-family: $poppins-font;
                            font-size: 15px;
                            color: rgb(122, 122, 122);
                        }
                        &:hover {
                            box-shadow: 0 0 1px 1px $primary-color;
                        }
                        &:focus {
                            box-shadow: 0 0 1px 1px $primary-color;
                        }
                    }
                    .message-textarea {
                        height: 150px;
                        resize: none;
                    }
                    .name-error,
                    .email-error,
                    .phone-number-error,
                    .location-error,
                    .message-error {
                        width: 100%;
                        text-align: left;
                        color: red;
                        font-size: 13px;
                    }
                }
                .send-btn {
                    cursor: pointer;
                    max-width: 300px;
                    width: 100%;
                    padding: 10px;
                    font-size: 18px;
                    background-color: $primary-color;
                    color: white;
                    border: none;
                    font-weight: bold;
                    border-radius: 4px;
                    @include transition;
                    margin-top: 30px;
                    &:hover {
                        background-color: $hover-color;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .contact {
        padding-top: 150px;
        .contact-container {
            .contact-info {
                margin-left: 10px;
                grid-template-columns: 1fr 1fr;
                .email {
                    margin-top: 20px;
                    justify-content: flex-start;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .contact {
        padding-top: 150px;
        .contact-container {
            .contact-info {
                grid-template-columns: 1fr;
                .phone-number {
                    margin-top: 20px;
                    justify-content: flex-start;
                }
            }
            .contact-form {
                padding: 0px 10px;
            }
        }
    }
}
