@import "_variables";

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    .loading-container {
        z-index: 100;
        width: 80;
        height: 80;
        border-radius: 50%;
        border: 10px solid rgb(213, 213, 213);
        border-top-color: $primary-color;
        animation: loading 0.7s linear infinite;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
