@import "variables";
@import "mixin";

.reset-password {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200px;
    font-family: $poppins-font;
    .title {
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
    }
    form {
        margin: 0 auto;
        max-width: 555px;
        padding: 20px;
        @include flex(column, flex-start, center);
        .password-container,
        .confirm-password-container {
            width: 100%;
            margin-bottom: 23px;
            position: relative;
            .password-input,
            .confirm-password-input {
                width: 100%;
                padding: 15px 13px;
                font-size: 17px;
                border-radius: 5px;
                outline: none;
                border: 1px solid #c2c5e1;
                background: #fff;
                margin-bottom: 5px;
            }
            .show-password-btn {
                position: absolute;
                top: 17px;
                right: 17px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                i {
                    font-size: 17px;
                }
            }
            .password-error,
            .confirm-password-error {
                position: absolute;
                bottom: -20px;
                width: 100%;
                text-align: left;
                font-size: 13px;
                color: red;
            }
        }
        .reset-pending{
            color: #9096B2;
            margin-bottom: 15px;
            text-align: center;
        }
        .reset-rejected{
            color: red;
            margin-bottom: 15px;
            text-align: center;
        }
        .reset-password-btn{
            border-radius: 5px;
            font-size: 17px;
            width: 100%;
            padding: 13px 0;
            background-color: $primary-color;
            border: 2px solid transparent;
            color: white;
            @include transition;
            cursor: pointer;
            margin-bottom: 28px;
            &:hover{
                background-color: $hover-color;
            }
        }
    }
}

@media screen and (max-width: 850px){
    .reset-password{
        margin-top: 150px;
    }
}